.idea
node_modules/
test/spec/screenshots/baseline/**/*.png
test/spec/screenshots/diff/**/*.png
test/spec/screenshots/screen/**/*.png
test/failure-screenshots/**/*.png
coverage/
reports/
tmp/
dist/
docs/
lib/
es/
test-env/
.vscode/
.DS_Store
.eslintcache
.yo-rc.json
npm-debug.log
yarn-error.log
.cache-loader
/docs
/docs-site
/examples
**/*.out

# typescript output
types/
oui.d.ts
