/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.ouiSplitButton__listbox {
  @include ouiScrollBar;
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}

.ouiSplitButton__item {
  @include ouiFontSizeS;
  @include ouiInteractiveStates;
  padding: $ouiSizeS;
}

.ouiSplitButton__item--hasDividers:not(:last-of-type) {
  border-bottom: $ouiBorderThin;
}
